<html>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <head>
            <meta charset="utf-8">
            <title>Online HTML Generator</title>
            <link href="styles.css" rel="stylesheet" type="text/css">
      </head>
      <body>
          <div ng-app="">
              <p>Enter the title of your website: <input type="text" ng-model="title"></p>
              <p>Enter the subtitle of your website: <input type="text" ng-model="subtitle"></p>
              <p>Enter the content of your website: <textarea rows="4" cols="50" ng-model="content"></textarea></p>
              <p>Below is how your website will look:</p>
              
              <div id="website-frame">
                  <h1>{{title}}</h1>
                  <h3>{{subtitle}}</h3>
                  <p>{{content}}</p>
              </div>
          </div>
      </body>
</html>